@media (max-width: 1439px) {
    .sidepanel{
        display: none;
    }
}
@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
    .sidepanel{
        display: none;
    }
    .about{
        &__wrapper{
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
    }
    .resume{
        &__wrapper{
            padding: 0 0 0 30px;
            column-gap: 80px
        }
    }
    .skills{
        &__wrapper{
            grid-template-columns: repeat(4,230px);
        }
    }
    .portfolio{
        &__wrapper{
            row-gap: 4px;
        }
    }
    .contact {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
            column-gap: 25px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 720px;
    }
    .title{
        &__fz36{
            font-size: 25px;
        }
        &__fz60{
            font-size: 40px;
        }
    }
    .about{
        padding-top: 50px;
        &__wrapper{
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__text{
            margin-top: 10px;
            font-size: 13px;
            line-height: 17px;
        }
        &__title{
            line-height: 23px;
        }
    }
    .resume{
        margin-top: 50px;
        &__wrapper{
            padding: 40px 0 0 0;
            column-gap: 0;
            grid-template-columns: repeat(2,360px);
        }
    }
    .skills{
        padding-top: 50px;
        &__wrapper{
            grid-template-columns: repeat(3,230px);
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(2, 1fr);
            .marvel{
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            .employee{
                height: 100%;
                grid-column: 2 / 3;
                grid-row: 4 / 5;
            }
            .pulse{
                img{
                    object-fit: cover;
                }
                grid-column: 1 / 3;
                grid-row: 3 / 4;
            }
            .food{
                img{
                    object-fit: cover;
                }
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }
            .hero{
                img{
                    object-fit: cover;
                }
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
            .coffee{
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }
        }
    }
    .contact {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .title{
        &__fz24{
            font-size: 16px;
        }
        &__fz60{
            font-size: 25px;
        }
    }
    .promo{
        &__title{
            width: 300px;
            line-height: 39px;
        }
        &__btn{
            margin-top: 30px;
        }
    }
    .about{
        padding-top: 50px;
        &__wrapper{
            grid-template: 400px / 1fr;
        }
        &__descr{
            padding-top: 30px;
        }
        &__text{
            margin-top: 20px;
            font-size: 14px;
            line-height: 19px;
        }
        &__title{
            justify-content: center;
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: 390px;
            padding: 0 0 0 40px;
        }
        &__column{
            padding-top: 40px;
        }
    }
    .skills{
        &__wrapper{
            grid-template-columns: repeat(2, 265px);
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: 1fr;
            grid-auto-rows: 280px;
            .marvel{
                grid-column: 1 / 1;
                grid-row: 1 / 2;
            }
            .coffee{
                img{
                    object-fit: cover;
                }
                grid-column: 1 / 1;
                grid-row: 2 / 3;
            }
            .hero{
                img{
                    object-fit: cover;
                }
                grid-column: 1 / 1;
                grid-row: 3 / 4;
            }
            .employee{
                grid-column: 1 / 1;
                grid-row: 4 / 5;
            }
            .pulse{
                img{
                    object-fit: cover;
                }
                grid-column: 1 / 1;
                grid-row: 5 / 6;
            }
            .food{
                grid-column: 1 / 1;
                grid-row: 6 / 7;
            }
        }
    }
    .contact {
        padding-top: 50px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}
@media (max-width: 576px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .hamburger{
        right: 20px;
    }
    .menu{
        &__block{
            width: 250px;
            padding-left: 20px;
        }
    }
    .title{
        &__fz14{
            font-size: 12px;
        }
        &__fz24{
            font-size: 18px;
        }
    }
    .promo{
        background: url("../img/main__bg.jpg") no-repeat 60%/cover;
        &__btn{
            margin-top: 30px;
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: 300px;
            padding: 0 0 0 0;
        }
        &__column{
            padding-top: 0;
        }
    }
    .skills{
        &__wrapper{
            grid-template-columns: 270px;
            justify-content: center;
        }
    }
    .portfolio{
        &__wrapper{
            gap: 15px;
        }
    }
    .contact {
        padding-bottom: 40px;
        &__social{
            grid-template-columns: 30px 30px 30px 190px;
            gap: 11px;
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triger {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 255px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
    .change{
        position: absolute;
        top: 19px;
        right: 90px;
    }
    .pageup{
        width: 35px;
        height: 35px;
        bottom: 20px;
        right: 20px;
    }
}

// max-height

@media (max-height: 465px){
    .promo{
        padding-top: 200px;
    }
    .menu{
        &__block{
            padding-top: 110px;
        }
    }
}
@media (max-height: 440px){
    .promo{
        padding-top: 160px;
    }
    .menu{
        &__social{
            bottom: 30px;
        }
    }
}
@media (max-height: 390px){
    .promo{
        padding-top: 130px;
    }
    .menu{
        &__block{
            padding-top: 65px;
        }
    }
}
@media (max-height: 335px){
    .promo{
        padding-top: 75px;
    }
    .menu{
        &__block{
            padding-top: 40px;
        }
    }
}
@media (max-height: 305px){
    .menu{
        &__social{
            bottom: 15px;
        }
    }
}
