.promo{
    min-height: 100vh;
    position: relative;
    background: url("../img/main__bg.jpg") no-repeat 50%/cover;
    padding-top: 250px;
    &__bg-shadow{
        background-color:rgba(0,0,0,.1);
        min-height: 100vh;
        position:absolute;
        top:0;
        left:0;
    }
    &__title{
        position: relative;
        width: 720px;
        margin-top: 10px;
    }
    &__subtitle{
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btn{
        position: relative;
        margin-top: 10px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
        a{
            scroll-behavior: smooth;
        }
    }
    &__link{
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        &:hover{
            text-decoration: none;
            color: #000000;
        }
    }
}

